<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with url: user_session, scope: :user,
                  id: "new_user", class: "new_user", local: true do |f| %>
      <%= f.email_field    :email,    placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.label :remember_me, class: "checkbox inline" do%>
        <%= f.check_box :remember_me %>
        <span>remember me on this computer</span>
      <% end %>
      <%= f.submit "ログイン" %>
    <% end %>
    <p>または</p>
    <p><%= link_to "新規登録", new_user_registration_path %></p>
    <p><%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path %></p>
  </div>
</div>