<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <div class="welcome-img">
      <%= image_tag("pic-0.jpeg", :size => '330x440', class: "img-0") %>
      <%= image_tag("pic-1.jpeg", :size => '330x440', class: "img-1") %>
    </div>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <div class="login-form">
      <h1>Instagram</h1>
      <%= form_with url: user_session, scope: :user,
                    id: "new_user", class: "new_user", local: true do |f| %>
        <%= f.email_field    :email,    placeholder: "Email" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.label :remember_me, class: "checkbox inline" do%>
          <%= f.check_box :remember_me %>
          <span>remember me on this computer</span>
        <% end %>
        <%= f.submit "ログイン" %>
      <% end %>
      <div class="row">
        <div class="col-md-4 dividing"></div>
        <div class="col-md-4"><p>または</p></div>
        <div class="col-md-4 dividing"></div>
      </div>
      <p><span><%= image_tag("f_logo_RGB-Blue_144.png", :size => '18x18', alt: "facebook-icon") %></span>
                <%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, class: "facebook-login" %></p>
    </div>
    <div class="login-form">
      <p>アカウントをお持ちでないですか？<%= link_to "登録する", new_user_registration_path %></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    var loopSpan = 4000;
    $('.welcome-img').each(function(){
      var i = 0;
      $('.welcome-img .img-0').css({opacity: 0});
      $('.welcome-img .img-1').css({opacity: 1});
      opacitySwitch();
      function opacitySwitch(){
        $('.welcome-img .img-0').animate({opacity: (i + 1) % 2},loopSpan,'linear');
        $('.welcome-img .img-1').animate({opacity: (i + 0) % 2},loopSpan,'linear');
        i = (i + 1) % 2;
        setTimeout(function(){opacitySwitch();},loopSpan + 3000);
      };
    });
  });
</script>