<h1>Instagram</h1>
<% if logged_in? %>
  <%= link_to "ログアウト", logout_path, method: :delete %>
<% else %>
  <%= form_with(url: root_path, scope: :session, local: true) do |f|%>
    <%= f.email_field    :email,    placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.label :remember_me, class: "checkbox inline" do%>
      <%= f.check_box :remember_me %>
      <span>remember me on this computer</span>
    <% end %>
    <%= f.submit "ログイン" %>
  <% end %>
  <p>または</p>
  <%= link_to "Facebookでログイン", "#" %>
<% end %>
