<li class="<%= notification.activity.downcase %>" id="notification-<%= notification.id %>">
  <p>
    <%= link_to notification.active_user.name, notification.active_user %> さんが
    <%= link_to "写真", notification.micropost %>
    <%= activity_message notification.activity %>
  </p>
  <div class="timestamp">
    <span><%= time_ago_in_words(notification.created_at) %> ago.</span>
    <%= link_to "OK", notification, method: :delete %>
  </div>
</li>