<% provide(:title, @user.name) %>
<h1>Users#show</h1>
<ul>
  <li><%= @user.name %></li>
  <li><%= @user.email %></li>
</ul>
<%= render 'shared/stats' %>
<%= render 'follow_form' if user_signed_in? %>
<% if @user.microposts.any? %>
  <h3>Microposts (<%= @user.microposts.count %>)</h3>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
<% end %>
