<% provide(:title, @user.name) %>
<% @micropost_settings = { col_grid: 4, img_size: 300, display_username: false } %>
<div class="row user-info-box">
  <div class="col-md-10 col-md-offset-1">
    <%= gravatar_for @user, size: 200 %>
    <h1><%= @user.name %></h1>
    <%= render 'shared/stats' %>
    <h3><%= @user.profile %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'follow_form' %>
    <% if @user.microposts.any? %>
      <h3>過去の投稿 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <div class="row">
          <%= render @microposts %>
        </div>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
