<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div class="col-md-3">
        <%= link_to "Instagram", root_path, id: "logo" %>
      </div>
      <div class="col-md-3">
        <%= form_with(scope: :search, url: microposts_path, method: :get,
                      class: "navbar-form navbar-left", local: true) do |f| %>
          <%= f.text_field :keyword, placeholder: "検索",
                      class: "form-control header-search" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <ul class="nav navbar-nav navbar-right header-user">
          <li><span><%= current_user.name %></span></li>
          <li><%= link_to "My page", current_user %></li>
          <li><%= link_to "通知", notifications_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>